/* GENERAL RULES */

/* Titles */
h1 {
  font-size: 60px;
  margin: 50px 0;
}
h2 {
  font-size: 40px;
  margin: 30px 0;
}
h3 {
  font-size: 20px;
}

/* Other rules */

body {
  background: #f3f5f5;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.popular {
  color: orange;
}
img {
  border-radius: 5px;
}

/* HERO */

.hero {
  background-color: white;
}
.hero img {
  height: 200px;
  width: 350px;
}
.hero-container {
  display: flex;
}

/* MAIN */

.main {
  display: flex;
}

.main-left {
  max-width: 820px;
}

.main-right {
  position: sticky;
  flex: 1;
  /* height: 100px; */
  top: 30px;
  align-self: flex-start;  /*pour faire marcher la position sticky*/
  border: solid green 2px;
}

article {
  width: calc(50% - 10px);
  border: solid red 2px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

article:not(:nth-child(even)) {
  margin-right: 20px;
}

article img {
  height: 100px;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
}
